Flask
pyyaml
requests
slack_sdk
Werkzeug
flask-sock
flask-login
schedule
pylint
pycodestyle
gunicorn
argon2-cffi
pyee
slack-bolt
# Used by reader flasher script
intelhex
pyserial
rshell
esptool
discord
