{% extends "layout.html" %}

{% block content %}

<div class="container-fluid px-md-5">
    <h1 class="my-4">Profile for device : {{ full_device.device_name }}</h1>
    <div class="py-3">
        <div style="width: 100%;">
            <div style="float:left; width: 30%">
                <h4>User with access to {{ full_device.device_name }}</h4>
                <ul>
                    {% for user in full_device.user_with_access %}
                    <li><a href="/user/{{user.key}}">{{ user.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div style="float:right; width: 70%">
                <table class="table stripe hover align-middle dataTable no-footer compact pt-3">
                    <tr>
                        <th>User name</th>
                        <th>Start time</th>
                        <th>End time</th>
                    </tr>
                    {% for log in full_device.logs %}
                    <tr>
                        <td>{{ log.user.name }}</td>
                        <td>{{ log.start_time }}</td>
                        <td>{{ log.end_time }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>

</div>
{% endblock %}
