{% extends "layout.html" %}
{% block content %}
    <nav class="navbar navbar-dark bg-dark">
        <div class="navbar navbar-inverse container">
            <ul class="nav navbar-nav navbar-center">

                {% if equipment == 'mill' %} <li class="active"> {% else %}
                <li> {% endif %}
                    <a href="/log_viewer?equipment=mill">Mill</a></li>

                {% if equipment == 'lathe' %} <li class="active"> {% else %}
                <li> {% endif %}
                    <a href="/log_viewer?equipment=lathe">Lathe</a></li>

                {% if equipment == 'laser' %} <li class="active"> {% else %}
                <li> {% endif %}
                    <a href="/log_viewer?equipment=laser">Laser</a></li>

                {% if equipment == 'cnc' %} <li class="active"> {% else %}
                <li> {% endif %}
                    <a href="/log_viewer?equipment=cnc">CNC</a></li>

                {% if equipment == 'big_cnc' %} <li class="active"> {% else %}
                <li> {% endif %}
                    <a href="/log_viewer?equipment=big_cnc">Big CNC</a></li>

                {% if equipment == 'band_saw' %} <li class="active"> {% else %}
                <li> {% endif %}
                    <a href="/log_viewer?equipment=band_saw">Band saw</a></li>

            </ul>

        </div>
    </nav>

    <div class="container">
        <div class="row">

            <div class="col-xs-4 col-sm-offset-4 text-center">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Nick</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Time</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for record in log_records %}
                        <tr>
                            {% for data in record %}
                            <td>{{data}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
