{% extends "layout.html" %}

{% block content %}
<h1>Logs</h1>

<div class="py-3">
    <table class="table stripe hover align-middle dataTable no-footer compact pt-3">
        <tr>
            <th>Device name</th>
            <th>User Name</th>
            <th>Time</th>
        </tr>
        {% for log in logs %}
        <tr>
            <td>{{ log[0] }}</td>
            <td>{{ log[1] }}</td>
            <td>{{ log[2] }}</td>
        </tr>
        {% endfor %}

    </table>
</div>


{% endblock %}