<style>
  .select2-container .select2-selection--single { height: 32px !important}
</style>
{% extends "layout.html" %}
{% block content %}
<div class="container-fluid p-5">
  <div class="form-group">
      <input type="text" class="form-control" id="mac" placeholder="Enter MAC address" style="width:300px; max-width:100%">
  </div>
  <div class="form-group">
      <select id="user_id" class="select2">
          <option value="">Select a user</option>
          {% for option in user_options %}
              <option value="{{option[1]}}">{{option[0]}}</option>
          {% endfor %}
      </select>
  </div>
  <button type="submit" class="btn btn-primary" onclick="addMac()" >Add MAC</button>
</div>
<div class="container-fluid px-5">
  <div class="py-3">
      <table id="tblData" class="table table-bordered">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>MAC</th>
              </tr>
          </thead>
          <tbody id="table_body">
          {% for item in mac_info %}
              <tr>
                  <td>{{item[0]}}</td>
                  <td>
                    {% for i in item[1] %}
                        {% if i %}
                            <span style="margin-right:10px">{{i}}
                                <a class="btn btn-danger btn-sm" onclick='deleteMac("{{i}}")' href="#">
                                    <i class="fa-trash-o fa" style="color: white"></i>
                                </a>
                            </span>
                        {% endif %}
                    {% endfor %}
                  </td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
  </div>
</div>
{% endblock %}
