{% extends "layout.html" %}

{% block content %}

<div class="container-fluid px-md-5">
    <h1 class="my-4">Profile for user : {{ full_user.user.name }}</h1>
    <div>
        <form method="post" action="#">
            <label for="slack_id">Slack ID:</label>
            <input type="text" id="slack_id" name="slack_id" required value={{ full_user.user.slack_id }}>

            <input type="submit" value="Set user slack id">
        </form>

        <button id="execute-button">Send sent notification</button>
    </div>
    <div class="py-3">
        <div style="width: 100%;">
            <div style="float:left; width: 30%">
                <ul>
                    {% for device in full_user.devices %}
                    <li><a href="/device/{{device.device_id}}">{{ device.device_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div style="float:right; width: 70%">
                <table class="table stripe hover align-middle dataTable no-footer compact pt-3">
                    <tr>
                        <th>Device name</th>
                        <th>Operation type</th>
                        <th>Time</th>
                    </tr>
                    {% for log in full_user.logs %}
                    <tr>
                        <td><a href="/device/{{ log.device.id }}">{{ log.device.name }}</a></td>
                        <td>{{ log.operation.type }}</td>
                        <td>{{ log.operation.time }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>

</div>

<script>
    $(document).ready(function() {
        let jsonData = {
            user_key: "{{ full_user.user.key }}",
        };
        $('#execute-button').click(function() {
            $.ajax({
                type: 'POST',
                url: 'send-test-message-to-user',
                data: JSON.stringify(jsonData),
                contentType: 'application/json',
            });
        });
    });
</script>


{% endblock %}
