{% extends "layout.html" %}
{% block content %}
<div class="container-fluid px-md-5">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add last used RFID card as new user</h5>
                <!--latest_key value is truncated with jinja2 tools-->
                <p class="card-text">Card: <strong>{{ latest_key[:8] + "..." + latest_key[-8:]}}</strong> was triggered at: <strong>20:57AM</strong></p>
                <div class="input-group mb-3">
                    <button class="btn btn-primary" type="submit" onclick="addUser('{{ latest_key }}', document.getElementById('user_name').value)" ><i class="bi bi-person-add"></i> Add User</button>  
                    <input type="text" class="form-control" id="user_name" placeholder="User Name">
                </div>
            </div>
        </div>
    </div>
    <div class="py-3">
        <div class="py-3 table-responsive">
            <table id="tblData" class="table stripe hover align-middle dataTable no-footer compact pt-3">
                <thead>
                <tr>
                    {% for column_name in access_control_panel.header %}
                    <th>{{ column_name }}</th>
                    {% endfor %}
                    <th></th>
                </tr>
                </thead>
                <tbody id="table_body">
                {% for row in access_control_panel.rows %}
                <tr>
                    <td><a href="/user/{{row.user_key}}">{{row.user_name}}</a></td>
                    <td>{{row.user_key}}</td>
                    {% for permission in row.permissions %}
                    <td>
                        <input type="checkbox" name="box1"
                               onChange="onUserPermissionChange('{{row.user_key}}', '{{permission.device_key}}', this)"
                               value="box1" {{ 'checked="checked"' if permission.is_granted else ""}}>
                    </td>
                    {% endfor %}
                    <td>
                        <a class="btn btn-danger btn-sm" onclick="onUserDeleteClick('{{row.user_key}}', this)">
                            <i style="color: white" class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
