{% extends "layout.html" %}

{% block content %}

<div class="container-fluid px-md-5">
    <h1 class="my-4">Settings</h1>
    <div class="py-3">
        <form method="post" action="#">
            <label for="slack_token">Slack Token:</label>
            <input type="text" id="slack_token" name="slack_token" required value={{ settings.slack_token }}>

            <input type="submit" value="Save slack token">
        </form>

        <form method="post" action="#">
            <label for="channel_id">Channel ID:</label>
            <input type="text" id="channel_id" name="channel_id" required value={{ settings.channel_id }}>

            <input type="submit" value="Save channel id">
        </form>

        <button id="execute-button">Send backup to slack now</button>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#execute-button').click(function() {
            $.ajax({
                type: 'POST',
                url: 'send-backup-to-slack',
            });
        });
    });
</script>

{% endblock %}
