{% extends "layout.html" %}
{% block content %}
<div class="container-fluid px-md-5">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add last used RFID card as new user: <span id="used-key-at"></span></h5>
                <div class="input-group mb-3">
                    <button class="btn btn-primary" type="submit" onclick="addUser(document.getElementById('user_name').value)" ><i class="bi bi-person-add"></i> Add User</button>  
                    <input type="text" class="form-control" id="user_name" placeholder="User Name">
                </div>
            </div>
        </div>
    </div>
    <div class="py-3">
        <table id="userTable" class="table table-striped table-bordered" style="width:100%">
        </table>
    </div>
</div>

<script>
  let usersTable

  document.addEventListener('DOMContentLoaded', () => {
    getLatestKey().then((latestKey) => {
      if (latestKey && latestKey.operation_time) {
        $('#used-key-at').text(latestKey.operation_time);
      } else {
        console.error("Latest key data or operation_time is missing.");
        // Handle the error appropriately, e.g., display a placeholder message
      }
    }).catch((error) => {
      console.error('Error fetching latest key:', error);
      // Handle the error appropriately, e.g., display an error message
    });
  });

  async function getLatestKey() {
    try {
      const response = await fetch('/api/devices/latest_key');
      const data = await response.json();
      console.log("Latest key data:", data); // Log for debugging
      return data;
    } catch (error) {
      console.error('Error fetching latest key:', error);
      return null; // Or throw an error
    }
  }

  async function addUser(name) {
    try {
      const latestKey = await getLatestKey(); // Wait for API call

      if (latestKey && latestKey.user_key) {
        const key = latestKey.user_key;
        const response = await fetch('/api/users', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ name, key })
        });

        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }

        const newData = await fetchData();
        usersTable.clear().rows.add(newData).draw();
      } else {
        console.error("Latest key data is missing or invalid.");
        // Handle the error appropriately, e.g., display a message to the user
      }
    } catch (error) {
      console.error('Error adding user:', error);
      // Handle the error appropriately, e.g., display a message to the user
    }
  }

  async function deleteUser(userKey) {
    try {
      const response = await fetch(`/api/users/${userKey}`, { method: 'DELETE' })
      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`)
      }
      const getRow = () => $('#usersTable').find(`tr[data-key="${userKey}"]`)
      usersTable.row(getRow).remove().draw()
      console.log('Device successfully deleted')
    } catch (error) {
      console.error('Error:', error)
    }
  }

  async function fetchData() {
    try {
      const response = await fetch('/api/users')
      const data = await response.json()
      return data.map(user => {
        return {
          name: user.user_name,
          key: user.user_key,
          ...user.permissions.reduce((acc, obj) => {
            acc[obj.device_name] = {
              allowed: obj.allowed,
              device_id: obj.device_id
            }
            return acc
          }, {}),
          operation: '<button class="btn btn-sm btn-danger" onclick="deleteUser(\'' + user.user_key + '\')">Delete</button>'
        }
      })
    }
    catch (error) {
      console.error('Error:', error)
    }
  }

  async function updatePermissions(userKey, deviceID, allowed) {
    try {
      const response = await fetch(`/api/users/${userKey}/devices/${deviceID}`, {
        method: allowed ? 'DELETE' : 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ device_id: deviceID, user_key: userKey })
      })
      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`)
      }
      console.log('Permissions successfully updated')
    } catch (error) {
      console.error('Error:', error)
    }
  }

  const getColumns = (data) => {
    return Object.keys(data[0]).map(key => ({
      data: (row) => {
        const value = row[key]
        return typeof value === 'string' ? value : `<input type="checkbox" ${value?.allowed && "checked"} onchange="updatePermissions('${row.key}', '${value?.device_id}', ${value?.allowed})">`
      },
      visible: key !== 'key',
      title: key.charAt(0).toUpperCase() + key.slice(1)
    }))
  }

  async function initializeDataTable() {
    const data = await fetchData()
    const columns = getColumns(data)

    usersTable = $('#userTable').DataTable({
      data,
      createdRow: (row, data, dataIndex) => {
        $(row).attr('data-key', data.key)
      },
      columns: columns
    })

  }

  initializeDataTable()
</script>

{% endblock %}
