{% extends "layout.html" %}
{% block content %}
<div class="container-fluid px-md-5">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add last used RFID card as new user</h5>
                <p class="card-text">Card: <strong>{{ latest_key[:8] + "..." + latest_key[-8:]}}</strong> was triggered at: <strong>20:57AM</strong></p>
                <div class="input-group mb-3">
                    <button class="btn btn-primary" type="submit" onclick="addUser('{{ latest_key }}', document.getElementById('user_name').value)" ><i class="bi bi-person-add"></i> Add User</button>  
                    <input type="text" class="form-control" id="user_name" placeholder="User Name">
                </div>
            </div>
        </div>
    </div>
    <div class="py-3">
        <table id="userTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>User</th>
                    <th>User Key</th>
                    <th>Permissions</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function() {
  // Initialize DataTables
  $('#userTable').DataTable({
    ajax: {
      url: '/api/users',
      dataSrc: function (data) {
        // Convert data to array of objects with desired format
        var userData = [];
        for (var i = 0; i < data.length; i++) {
          var user = {
            name: data[i].user_name,
            key: data[i].user_key, // Include 'key' property
            permissions: data[i].permissions.map(function(permission) {
              return {
                device_id: permission.device_id,
                device_name: permission.device_name,
                allowed: permission.allowed
              };
            }),
            operation: '<button class="btn btn-sm btn-danger" onclick="deleteUser(\'' + data[i].user_key + '\')">Delete</button>'
          };
          userData.push(user);
        }
        return userData;
      }
    },
    columns: [
      { data: 'name' },
      { data: 'key' }, // Add 'key' column
      {
        data: 'permissions',
        render: function(data) {
          var permissionList = '';
          for (var i = 0; i < data.length; i++) {
            permissionList += '<span class="badge bg-' + (data[i].allowed ? 'success' : 'danger') + '">' + data[i].device_name + '</span>&nbsp;';
          }
          return permissionList;
        }
      },
      { data: 'operation' }
    ]
  });
});
</script>

{% endblock %}
